# Python Functions Review

### Introduction

In this lesson, we'll review working with Python APIs and functions.  Let's get started.

### Getting our Data

In this lesson, we'll work with the [Econdb api](https://www.econdb.com/api/series/?page=1).  As you can see on the page, we can make a request to the api with something like the following.

In [ ]:
# !pip3 install requests

In [2]:
import requests

url = "https://www.econdb.com/api/series/CPIUS/?format=json"
response = requests.get(url)
json_values = response.json()

### Working with our data

Begin by identifying all of the **keys** in `json_values`.

In [3]:
json_values.keys()

# dict_keys(['ticker', 'description', 'geography', 'frequency', 'dataset', 'units', 'additional_metadata', 'data'])

dict_keys(['ticker', 'description', 'geography', 'frequency', 'dataset', 'units', 'additional_metadata', 'data'])

And also identify all of the keys in under the `data` attribute.

In [8]:
json_values['data'].keys()

# dict_keys(['values', 'dates', 'status'])

dict_keys(['values', 'dates', 'status'])

Ok, so we can see that we have keys of `values` and `dates`.

So now create a list of the most recent 300 dates -- from earliest to latest.

In [34]:
recent_dates = json_values['data']['dates'][-301:]
recent_dates[:5]

# ['1997-08-01', '1997-09-01', '1997-10-01', '1997-11-01', '1997-12-01']

['1997-08-01', '1997-09-01', '1997-10-01', '1997-11-01', '1997-12-01']

And create a list of the corresponding consumer price index values.

In [35]:
recent_values = json_values['data']['values'][-301:]
recent_values[:5]

[160.8, 161.2, 161.5, 161.7, 161.8]

Now create a list of tuples called `cpis` that uses the `recent_dates` and `recent_values` list to return a list of tuples consisting of the date and the corresponding consumer price index.

In [36]:

cpis = tuple(zip(recent_dates, recent_values))

cpis[:5]

# [('1997-08-01', 160.8),
#  ('1997-09-01', 161.2),
#  ('1997-10-01', 161.5),
#  ('1997-11-01', 161.7),
#  ('1997-12-01', 161.8)]

(('1997-08-01', 160.8),
 ('1997-09-01', 161.2),
 ('1997-10-01', 161.5),
 ('1997-11-01', 161.7),
 ('1997-12-01', 161.8))

And then, turn this list of tuples into a list of dictionaries with keys of date and price.

> If you are unable to complete the below step, you can skip the problem and proceed to the next section.

In [37]:
price_json = [{'date':j, 'price': k} for j, k in cpis]

In [38]:
price_json[:5]

[{'date': '1997-08-01', 'price': 160.8},
 {'date': '1997-09-01', 'price': 161.2},
 {'date': '1997-10-01', 'price': 161.5},
 {'date': '1997-11-01', 'price': 161.7},
 {'date': '1997-12-01', 'price': 161.8}]

### Working with Data

In [39]:
import pandas as pd
url = "https://raw.githubusercontent.com/apis-jigsaw/cpi-functions-quiz/main/cpi_json.json"
price_dates = pd.read_json(url).to_dict('records')

In [40]:
price_dates[:3]

[{'date': Timestamp('1997-09-01 00:00:00'), 'price': 161.2},
 {'date': Timestamp('1997-10-01 00:00:00'), 'price': 161.5},
 {'date': Timestamp('1997-11-01 00:00:00'), 'price': 161.7}]

* Filtering

In [41]:
def price_greater_than(price_dates, amount):
    return [pd for pd in price_dates if pd['price']> 200]

In [42]:
price_greater_than(price_dates, 200)[:3]

# [{'date': Timestamp('2006-04-01 00:00:00'), 'price': 200.7},
#  {'date': Timestamp('2006-05-01 00:00:00'), 'price': 201.3},
#  {'date': Timestamp('2006-06-01 00:00:00'), 'price': 201.8}]

[{'date': Timestamp('2006-04-01 00:00:00'), 'price': 200.7},
 {'date': Timestamp('2006-05-01 00:00:00'), 'price': 201.3},
 {'date': Timestamp('2006-06-01 00:00:00'), 'price': 201.8}]

* Exploring Timestamps

Now we can see that each date points to a timestamp object.  If we explore a timestamp, notice that we can extract certain attributes from it.

> Let's start by pulling out the first date.

In [43]:
first_price_date = price_dates[0]

first_price_date # {'date': Timestamp('1997-09-01 00:00:00'), 'price': 161.2}

first_date = first_price_date['date']
first_date

Timestamp('1997-09-01 00:00:00')

In [45]:
first_date.year

1997

Then, write a function called `filter_price_by` that takes list of `price_dates` and given both a month and year, return the corresponding price.

In [52]:
def filter_price_by(price_dates, month, year):
    return [pd['price'] for pd in price_dates if pd['date'].year == year and pd['date'].month == month][0]

In [53]:
filter_price_by(price_dates, 3, 2020)

# 258.2

258.2

Then let's write a method that allows us to filter by both prices and years.

In [74]:
def filter_price_by(amount, year):
    return [pd for pd in price_dates if pd['price']>= amount and pd['date'].year == year]

In [79]:
filter_price_by(290, 2022)

# [{'date': Timestamp('2022-05-01 00:00:00'), 'price': 291.5},
#  {'date': Timestamp('2022-06-01 00:00:00'), 'price': 295.3},
#  {'date': Timestamp('2022-07-01 00:00:00'), 'price': 295.3},
#  {'date': Timestamp('2022-08-01 00:00:00'), 'price': 295.6}]

[{'date': Timestamp('2022-01-01 00:00:00'), 'price': 281.9},
 {'date': Timestamp('2022-02-01 00:00:00'), 'price': 284.2},
 {'date': Timestamp('2022-03-01 00:00:00'), 'price': 287.7},
 {'date': Timestamp('2022-04-01 00:00:00'), 'price': 288.7},
 {'date': Timestamp('2022-05-01 00:00:00'), 'price': 291.5},
 {'date': Timestamp('2022-06-01 00:00:00'), 'price': 295.3},
 {'date': Timestamp('2022-07-01 00:00:00'), 'price': 295.3},
 {'date': Timestamp('2022-08-01 00:00:00'), 'price': 295.6}]

Now let's create a new list of dictionaries for each `price_date` has a key of `year`, a key of `month`, as well as the corresponding price.

In [80]:
expanded_price_dates = [{'month': pd['date'].month, 'year':pd['date'].year, 'price':pd['price']} for pd in price_dates]   

expanded_price_dates[:3]

# [{'month': 9, 'year': 1997, 'price': 161.2},
#  {'month': 10, 'year': 1997, 'price': 161.5},
#  {'month': 11, 'year': 1997, 'price': 161.7}]

[{'month': 9, 'year': 1997, 'price': 161.2},
 {'month': 10, 'year': 1997, 'price': 161.5},
 {'month': 11, 'year': 1997, 'price': 161.7}]